__pycache__/
scratch.ipynb
experiments/*/model.pth
experiments/*/*.tsv
experiments/*/*.gif
experiments/*/*.png
experiments/*/*.pdf
wave_nbs/
pinn_data/
gp_data/
gp_data_l40s/
fem_data/
fem_long_data/
heat_scripts/
vectorwavenet/
.DS_Store
PCNN/
*.out
slurm_logs/
